<!-- !!!!!!!!!!!!!!!!!!!! LANDING PAGE !!!!!!!!!!!!!!!!!!!! -->

<div class="landing">

  <div class="row">

    <div class="col s12 m8 offset-m2 header">
      <h2>SAMPLER HEAVEN</h2>
      <div class="description">
        <h4>An Online Marketplace to browse and sell used samplers and drum machines</h4>
      </div>
    </div>
  </div>
  
</div>

<!-- !!!!!!!!!!!!!!!!!!!! LANDING PAGE END !!!!!!!!!!!!!!!!!!!! -->


<!-- !!!!!!!!!!!!!!!!!!!! LOGIN AND REG SECTION !!!!!!!!!!!!!!!!!!!! -->

<div class="content">

  <div class="row info-row">
    <div class="col s12 m6 info">
      <p>To post items and message sellers, you must first login or register a new account!</p>
    </div>
  </div>

  <div class="row form-row">

    <!-- !!!!!!! REGISTRATION !!!!!!!!!! -->

    <div class="grid-example col s12 m4 registration">

      <h3>Register</h3>
      <form (submit)="register()">
        <table>
          <tr> 
            <td>First Name:</td>
            <td><input type="text" name="first_name" [(ngModel)]="newUser.first_name" #firstname="ngModel"></td>
          </tr>
          <tr>
            <td>Last Name:</td> 
            <td><input type="text" name="last_name" [(ngModel)]="newUser.last_name" #lastname="ngModel"></td>
          </tr>
          <tr>
            <td>Email: </td>
            <td><input type="text" name="email" [(ngModel)]="newUser.email" #email="ngModel"></td>
          </tr> 
          <tr> 
            <td>Password: </td>
            <td><input type="password" name="password" [(ngModel)]="newUser.password" #password="ngModel"></td>
          </tr>
          <tr>
            <td>Confirm:</td>
            <td><input type="password" name="password" [(ngModel)]="newUser.passwordConfirm" #passwordConfirm="ngModel"></td>
          </tr>
          <tr>
            <td>State:</td>
            <td>
              <select materialize="material_select" name="state" [(ngModel)]="newUser.state" #city="ngModel">
                <option  *ngFor="let state of states" >{{ state }}</option>
              </select> 
            </td>
          </tr>
          <tr>
            <td></td>
            <td><input type="submit" value="Register Here!"></td>
          </tr>
          </table>
        </form>

    </div>

    <!-- !!!!!!! REGISTRATION END !!!!!!!!!! -->


    <div class="grid-example col s12 m4 login">

    <!-- !!!!!!! LOGIN  !!!!!!!!!! -->    
      
      <div>
        <h3>Login</h3>
        <form (submit)="login()">
          <table>
            <tr>
              <td>Email:</td>
              <td><input type="text" name="email" [(ngModel)]="user.email" #email="ngModel"></td>
            </tr>
            <tr>
              <td>Password:</td>
              <td><input type="password" name="password" [(ngModel)]="user.password" #password="ngModel"></td>
            </tr>
            <tr>
              <td></td>
              <td><input type="submit" value="Login Here"></td>
            </tr>
          </table>
        </form> 
      </div>

    <!-- !!!!!!! LOGIN END !!!!!!!!!! -->
      
    </div>

  </div>

</div>

<!-- !!!!!!!!!!!!!!!!!!!! LOGIN AND REG SECTION END !!!!!!!!!!!!!!!!!!!! -->