<!-- <ul materialize="dropdown" id="dropdown1" class="dropdown-content">
    <li><a [routerLink]="['/home']">Browse</a></li>
    <li class="divider"></li>
    <li><a [routerLink]="['/create','listing']">Create Listing</a></li>
</ul>
<ul materialize="dropdown" id="dropdown2" class="dropdown-content">
    <li><a [routerLink]="['/requests']">Requests</a></li>
    <li class="divider"></li>
    <li><a [routerLink]="['/requests','new']">Create Request</a></li>
</ul> -->

<!-- <nav>
    <div class="nav-wrapper"> -->
      <!-- <a href="#!" class="show-on-small brand-logo ">Sampler Heaver</a> -->
      <!-- <a data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="hide-on-med-and-down">
        <li><a class="dropdown-button"  data-activates="dropdown1">Samplers<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a class="dropdown-button"  data-activates="dropdown2">Requests<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a  href="collapsible.html">About</a></li>
        <li><a  href="mobile.html">Contact</a></li>
      </ul>
      <ul materialize="sideNav" class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Samplers</a></li>
        <li><a href="badges.html">Requests</a></li>
        <li><a href="collapsible.html">About</a></li>
        <li><a href="mobile.html">Contact</a></li>
      </ul>
    </div>
</nav> -->

<nav>
  <div class="nav-wrapper">
    <h3>Sampler Heaven</h3>
    <ul class="right hide-on-med-and-down">
      <li><a [routerLink]="['/home']">Browse Samplers</a></li>
      <li><a [routerLink]="['/create','listing']">Post Samplers</a></li>
      <li><a [routerLink]="['']">Logout</a></li>
    </ul>
    <ul materialize="sideNav" class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Browse Samplers</a></li>
        <li><a href="badges.html">Post Samplers</a></li>
        <li><a href="collapsible.html">Logout</a></li>
      </ul>
  </div>
</nav>

