.body-div{
    padding: 23px;
    background-image: url('/assets/MPC2.jpg');
    min-height: 800px;
    background-attachment: fixed;
    background-size: cover;
}
.back-button{
    font-size: 19px;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    color: ghostwhite;
    margin-left: 44px;
    margin-top: 45px;
    font-size: 2.9rem;
    text-align: left;
}

/* !!!!!!!! CARD !!!!!!!!!!!!!!!! */

.card{
    margin-top: 4%;
}
.card-content{
    background-color: navajowhite;
    padding-bottom: 65px;
}
.card-content:hover{
    cursor: pointer;
}
img{
    width: 50%;
    border: #656262 solid 3px;
    border-radius: 3px;
}
.sampler-info{
    padding: 25px;
}
.sampler-model{
    /* display: inline-block; */
    font-size: 2.6rem;
    font-weight: bold;
}
.sampler-model:hover{
    cursor: pointer;
}
.sampler-brand{
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    font-size: 2.6rem;
    float: right;
}
.sampler-brand:hover{
    cursor: pointer;
}
i.medium{
    font-size: 2.9rem;
    color: dimgray;
}

/* !!!!!!!! CARD END !!!!!!!!!!!!!!!! */


/* !!!!!!!!!!!!! CARD REVEAL !!!!!!!!!!!!!!! */

.card-reveal{
    background-color: #353434;
    padding: 35px;
    
}
.card .card-reveal{
    border: 2px solid ghostwhite;
}
.back-img{
    border: none;
    width: 100% !important; 
}
.card-reveal i{
    margin-top: -15px;
    font-size: 2.4rem;
    color: ghostwhite;
    font-weight: 400;
}
.back-model{
    vertical-align: top;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: navajowhite;
    margin-bottom: 15px;
}
.back-brand{
    vertical-align: top;
    text-align: center;
    font-size: 3rem;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    color: navajowhite;
    margin-bottom: 15px;
}
.desc-row{
    background-color: #f8f8ff2b;
    height: 33%;
    border-radius: 27px;
    padding-left: 18px;
}
.back-price{
    text-align: right;
    margin-right: 30px;
    font-size: 1.6rem;
    margin-bottom: -9px;
}
.back-location{
    text-align: right;
    margin-right: 30px;
    font-size: 1.1rem;
}
.back-condition{
    text-align: right;
    margin-right: 30px;
    font-weight: bold;
}
.back-details{
    font-size: 1.2rem;
    margin-top: 30px;
    font-weight: 400;
    font-style: italic;
    color: navajowhite;
}
.button {
    display: inline-block;
    width: 194px;
    height: 61px;
    background: black;
    padding: 13px;
    padding-top: 15px;
    text-align: center;
    border-radius: 5px;
    color: navajowhite;
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 15px;
}
/* !!!!!!!!!!!!! CARD REVEAL  END !!!!!!!!!!!!!!! */



