<app-navigation></app-navigation>

<div class="browse-container">


    <div class="row">
        <div class="col s12 m6">
            <h4>Browse</h4>
        </div>
        <div class="col s12 m6 search-col">
            <div class="input-field">
                <input id="search" type="search" name=search [(ngModel)]="searchTerm" (keyup)="searchListings(searchTerm)" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i> 
            </div>
        </div>
    </div>



    <div class="browse-body">

        <div class="row">

            <div class="col s12 m3">

                <h3>Sort By...</h3>

                <ul>
                    <li class="searchCat"><a (click)="toggleBrands()">Brands</a> 
                        <ul [ngClass]="{'no-display' : switch }">
                            <li class="brands category">Akai</li>
                            <li class="brands category">Roland</li>
                        </ul>
                    </li> 
                    <li class="searchCat"><a (click)="togglePrices()">Price</a>  
                        <ul [ngClass]="{'no-display' : switch2 }" class="no-display">
                            <li class="category">0-100</li>
                            <li class="category">101-500</li>
                            <li class="category">501-1000</li>
                        </ul>
                    </li> 
                    <li class="searchCat"><a (click)="toggleCondition()">Condition</a>
                        <ul [ngClass]="{'no-display' : switch3 }" class="no-display">
                            <li class="category">Working</li>
                            <li class="category">Needs Love</li>
                            <li class="category">Parts</li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="col s12 m9 listings">

                <div class="row">
                
                    <div class="col s12 m4 listing" *ngFor="let sampler of shownSamplers">
                        <a class="nav-link" [routerLink]="['/sampler', sampler._id]">
                            <div class="card hoverable">
                                <!-- <div class="card"> -->
                                    <div class="card-image">
                                    <img src={{sampler.image}} alt="picture of a sampler">
                                    </div>
                                    <div class="card-content">
                                        <p class="modelHeader">{{ sampler.model }} </p>
                                        <p class="brandHeader">{{ sampler.brand }}</p>                                       
                                        <p class="right-align priceHeader">${{ sampler.price }}</p>
                                        <a *ngIf="sampler._user == currentUser._id" [routerLink]="['/edit', sampler._id]" >Edit Listing</a>
                                    </div>
                                <!-- </div> -->
                            </div>   
                        </a>     
                    </div>

                </div>
                
            </div>

        </div>

        <!-- <div class="filterTable hide-on-1042-and-down show-on-large">
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header">Sort By..</div>
                </li>
                <li>
                    <div class="collapsible-header sort-header">Brands</div>
                    <div class="collapsible-body" (click)="searchListings('akai')">Akai</div>
                    <div class="collapsible-body"(click)="searchListings('roland')">Roland</div>
                </li>
                <li>
                    <div class="collapsible-header sort-header">Price</div>
                    <div class="collapsible-body"><a href="#">Akai</a></div>
                    <div class="collapsible-body"><a href="#">Roland</a></div>
                </li>
                <li>
                    <div class="collapsible-header sort-header">Condition</div>
                    <div class="collapsible-body"><a href="#">Working</a></div>
                    <div class="collapsible-body"><a href="#">Needs Love</a></div>
                    <div class="collapsible-body"><a href="#">Parts</a></div>
                </li>
            </ul>
        </div> -->

        <!-- <div class="browseList">
            <div class="row" >
                <div class="col s12 m6 l3" *ngFor="let sampler of shownSamplers">
                    <a class="nav-link" [routerLink]="['/sampler', sampler._id]">
                    <mat-card class="browseCard">
                        <img mat-card-image src={{sampler.image}} alt="picture of a sampler">
                        <mat-card-content>
                            <h5 class="brandHeader">{{ sampler.brand }}</h5>
                            <h5 class="modelHeader">{{ sampler.model }} </h5>
                            <h6>${{ sampler.price }}</h6>
                        </mat-card-content>
                    </mat-card>   
                    </a>     
                </div>
            </div>
        </div> -->

    </div>

</div>



<!-- <a *ngIf="sampler._user == currentUser._id" [routerLink]="['/edit', sampler._id]" >Edit Listing</a> -->
